<template>
	<section>
		<h2>basic</h2>
		<ssv-select
			options.bind="options"
			selected.bind="optionSelected"
			placeholder="select game"></ssv-select>
			<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="options"
	selected.bind="optionSelected"
	placeholder="select game"&gt;
&lt;/ssv-select&gt;</code></pre>
			<pre><code class="language-typescript" ssv-syntax>const options = [
	{ text: "League of Legends", value: "lol", type: "MOBA" },
	{ text: "World Of Warcraft", value: "wow", type: "MMO" },
	{ text: "Heroes of the Storm", value: "hots", type: "MOBA" }
];</code></pre>

		<h3>simple list</h3>
		<ssv-select options.bind="fruits"
			placeholder="select fruit"
			selected.bind="selectedFruit"
			color="danger"></ssv-select>
			<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="fruits" 
	placeholder="select fruit" 
	selected.bind="selectedFruit" 
	color="danger"&gt;
&lt;/ssv-select&gt;</code></pre>
			<pre><code class="language-typescript" ssv-syntax>const fruits = ["banana", "strawberry", "melon"];</code></pre>

		<h3>Specify text and value properties</h3>
		<ssv-select options.bind="heroes"
		 	text-field="name"
			value-field="id"
			selected.bind="heroSelected"
			filter-placeholder="search game"
			no-options="no games found"
			placeholder="select hero"></ssv-select>
			<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="heroes" 
	text-field="name" 
	value-field="id" 
	selected.bind="heroSelected"
	filter-placeholder="search game"
	no-options="no games found"
	placeholder="select hero"&gt;
&lt;/ssv-select&gt;</code></pre>
			<pre><code class="language-typescript" ssv-syntax>const heroes = [
	{ id: 1, name: "thor", strength: 20 },
	{ id: 2, name: "iron man", strength: 11 },
	{ id: 3, name: "batman", strength: 7 }
];</code></pre>

		<h3>group by</h3>
		<ssv-select options.bind="options"
			groupby="type"
			selected.bind="optionSelected"
			placeholder="select game"></ssv-select>
			<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="options" 
	groupby="type"
	selected.bind="optionSelected" 
	placeholder="select game"&gt;
&lt;/ssv-select&gt;</code></pre>
			<pre><code class="language-typescript" ssv-syntax>const options = [
	{ text: "League of Legends", value: "lol", type: "MOBA" },
	{ text: "World Of Warcraft", value: "wow", type: "MMO" },
	{ text: "Heroes of the Storm", value: "hots", type: "MOBA" }
];</code></pre>

		<h3>multi select</h3>
		<button ssv-button click.delegate="addGame()">Add game</button>
		<ssv-select options.bind="options" 
			type="multi"
			auto-close="false"
			max-selections="3"
			placeholder="select game"
			selected.bind="optionsSelected"
			color="primary"></ssv-select>

		<strong>selected text:</strong>
		<ul>
			<li repeat.for="item of optionsSelected">${item.text}</li>
		</ul>
		<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="options" 
	type="multi"
	auto-close="false"
	max-selections="3"
	placeholder="select game"
	selected.bind="optionsSelected"
	color="primary"&gt;
&lt;/ssv-select&gt;</code></pre>

		<h3>event: change</h3>
		<i>*note: select an item and check console.</i>
		<ssv-select options.bind="options"
			placeholder="select game"
			change.delegate="onChange($event)"></ssv-select>
			<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="options"
	placeholder="select game"
	change.delegate="onChange($event)"&gt;
&lt;/ssv-select&gt;</code></pre>
			<pre><code class="language-typescript" ssv-syntax>onChange(event: CustomEvent) {
	this.logger.debug("onChange", "triggered >>>", {
		previous: event.detail.previous,
		value: event.detail.value
	});
}</code></pre>

	<h3>disabled</h3>
		<ssv-select options.bind="options"
			disabled
			selected.bind="optionSelected"
			placeholder="select game"></ssv-select>
			<pre><code class="language-html" ssv-syntax>&lt;ssv-select
	options.bind="options"
	disabled
	selected.bind="optionSelected"
	placeholder="select game"&gt;
&lt;/ssv-select&gt;</code></pre>

		<ssv-select options.bind="options" 
			type="multi"
			disabled.bind="isDisabled"
			placeholder="select game"
			selected.bind="optionsSelected"
			color="success"></ssv-select>
		<button ssv-button click.delegate="toggleDisable()">${isDisabled ? "enable" : "disable"}</button>

	<pre><code class="language-html" ssv-syntax>&lt;ssv-select options.bind="options"
	type="multi"
	disabled.bind="isDisabled"
	placeholder="select game"
	selected.bind="optionSelected"
	color="success"&gt;
&lt;/ssv-select&gt;</code></pre>

	</section>

	<h2>variants</h2>
	<section>
		<h3>type <strong>single</strong></h3>
		<template repeat.for="color of colors">
			
			<ssv-select options.bind="options"
				selected.bind="optionSelected"
				placeholder="select game"
				color.bind="color"></ssv-select>
		</template>
	</section>
	<section>
		<h3>type <strong>multi</strong></h3>
		<template repeat.for="color of colors">
			<ssv-select options.bind="options" type="multi"
				placeholder="select game"
				selected.bind="optionsSelected"
				color.bind="color"></ssv-select>
		</template>
	</section>
</template>