@import "variables";

$nav-text-color: $secondary-text-color !default;
$nav-text-hover-color: $primary-text-color !default;
$nav-active-text-color: $primary-text-color !default;
$nav-active-color: rgba(0, 0, 0, .1) !default;
$nav-active-hover-color: rgba(0, 0, 0, .2) !default;
$nav-hover-color: $nav-active-color !default;

nav {
	display: flex;
	flex: 1;

	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;

			&,
			&.ssv-waves {
				display: flex;
			}

			&.active {
				&:hover {
					a {
						background: $nav-active-hover-color;
					}
				}

				a {
					background-color: $nav-active-color;
					color: $nav-active-text-color;
				}
			}
		}

		a {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0 1em;
			color: $nav-text-color;

			&:active,
			&:focus,
			&:hover {
				color: $nav-text-hover-color;
				background-color: $nav-hover-color;
				transition: background-color .2s ease-in-out;
			}
		}
	}
}
