@import "variables";

$link-color: $boston-blue !default;
$link-hover-color: $picton-blue !default;
$heading-color: $primary-color !default;

body {
	color: $body-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
}

h1 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.04em;
}

h2 {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -.02em;
}

h3 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 48px;
}

a {
	color: $link-color;
	text-shadow: none;
	text-decoration: none;
	outline: 0 !important;

	&:active,
	&:focus,
	&:hover {
		color: $link-hover-color;
	}
}

ol,
ul {
	margin-top: 0;
	> li {
		padding-left: 3px;
		line-height: 24px;
	}
}

.text-muted {
	opacity: .7;
}