<template>
	<div class="component component-waves">
		<section>
			<h2>Simple Usage</h2>
			<button ssv-waves>Ripple Button</button>
		</section>
		<section>
			<h2>Divs and Images</h2>
			<figure>
				<div ssv-waves
					class="fancy-box">Ripple</div>
				<code>
				ssv-waves
			</code>
			</figure>
			<figure>
				<img src="https://s-media-cache-ak0.pinimg.com/736x/a6/a9/79/a6a9797721eccc27d420ce8ec1897f79.jpg"
					ssv-waves="waves-light"
					class="img-thumb" />
				<code>
				ssv-waves="waves-light"
			</code>
			</figure>
		</section>
	</div>
</template>