<template>
	<section>
		<h2>basic</h2>
		<ssv-chips options.bind="options" remove.delegate="onRemove($event)"></ssv-chips>
		<pre><code class="language-html" ssv-syntax>&lt;ssv-chips options.bind="options"&gt;&lt;/ssv-chips&gt;</code></pre>

		<ssv-chips options.bind="options" type="label" color="danger"></ssv-chips>

		<h3>simple list</h3>
		<ssv-chips options.bind="fruits" allow-remove="false"></ssv-chips>

		<h2>attributes</h2>
		<h3>type</h3>
		<ssv-chips options.bind="options" type="label"></ssv-chips>
		<pre><code class="language-html" ssv-syntax>&lt;ssv-chips options.bind="options" type="label"&gt;&lt;/ssv-chips&gt;</code></pre>

		<h3>color</h3>
		<ssv-chips options.bind="options" color="danger"></ssv-chips>
		<pre><code class="language-html" ssv-syntax>&lt;ssv-chips options.bind="options" color="danger"&gt;&lt;/ssv-chips&gt;</code></pre>

		<h3>event: remove</h3>
		<i>*note: remove a chip and check console.</i>
		<ssv-chips options.bind="options" remove.delegate="onRemove($event)"></ssv-chips>
		<pre><code class="language-html" ssv-syntax>&lt;ssv-chips options.bind="options"
	remove.delegate="onRemove($event)"&gt;
&lt;/ssv-chips&gt;</code></pre>
		<pre><code class="language-typescript" ssv-syntax>onRemove(event: CustomEvent) {
	console.log("onRemove :: item has been removed >>>", {
		value: event.detail.value,
		event: event
	});
}</code></pre>
	</section>

	<h2>variants</h2>
	<section repeat.for="type of types">
		<h3>type <strong>${type}</strong></h3>
		<figure repeat.for="color of colors">
			<ssv-chips type.bind="type" color.bind="color" options.bind="options">${color ? color : 'default'}</ssv-chips>
		</figure>
	</section>
</template>