<template>
	<div class="component component-button">
		<section>
			<h2>Simple Usage</h2>
			<button ssv-button>Button</button>
		</section>

		<section>
			<h2>Flat</h2>
			<figure>
				<button ssv-button>Flat Button</button>
				<code>
					type="flat" (default)
				</code>
			</figure>
			<figure>
				<button ssv-button="disable-ripple: true">Flat Button</button>
				<code>
				disable-ripple: true
			</code>
			</figure>
			<figure>
				<button ssv-button
					disabled>
					Disabled
			</button>
				<code>
				disabled
			</code>
			</figure>
		</section>

		
		<section>
			<h2>Flat Color</h2>
			<figure>
				<button ssv-button="type: flat; color: primary">Primary</button>
				<code>
					type: flat; color: primary
				</code>
			</figure>
			<figure>
				<button ssv-button="type: flat; color: accent">Accent</button>
				<code>
					type: flat; color: accent
				</code>
			</figure>
			<figure>
				<button ssv-button="type: flat; color: danger">Danger</button>
				<code>
					type: flat; color: danger
				</code>
			</figure>
			<figure>
				<button ssv-button="type: flat; color: warn">Warn</button>
				<code>
					type: flat; color: warn
				</code>
			</figure>
			<figure>
				<button ssv-button="type: flat; color: success">Success</button>
				<code>
					type: flat; color: success
				</code>
			</figure>
		</section>

		<section>
			<h2>Raised</h2>
			<figure>
				<button ssv-button="type: raised">Raised Button</button>
				<code>
					type="raised"
				</code>
			</figure>
			<figure>
				<button ssv-button="type: raised; disable-ripple: true">Raised Button</button>
				<code>
					type: raised; disable-ripple: true
				</code>
			</figure>
			<figure>
				<button ssv-button="type: raised"
					disabled>
					Disabled
				</button>
				<code>
					disabled
				</code>
			</figure>
		</section>

		<section>
			<h2>Raised Color</h2>
			<figure>
				<button ssv-button="type: raised; color: primary">Primary</button>
				<code>
					type: raised; color: primary
				</code>
			</figure>
			<figure>
				<button ssv-button="type: raised; color: accent">Accent</button>
				<code>
					type: raised; color: accent
				</code>
			</figure>
			<figure>
				<button ssv-button="type: raised; color: danger">Danger</button>
				<code>
					type: raised; color: danger
				</code>
			</figure>
			<figure>
				<button ssv-button="type: raised; color: warn">Warn</button>
				<code>
					type: raised; color: warn
				</code>
			</figure>
			<figure>
				<button ssv-button="type: raised; color: success">Success</button>
				<code>
					type: raised; color: success
				</code>
			</figure>
		</section>

	</div>
</template>