<template>
	<div class="component component-button">
		<section>
			<h3>basic</h3>
			<button ssv-button>default</button>
			<pre><code class="language-html" ssv-syntax>&lt;button ssv-button&gt;default&lt;/button&gt;</code></pre>

			<h3>changing attribute: <strong>type</strong></h3>
			<button ssv-button="type:outline">outline</button>
			<pre><code class="language-html" ssv-syntax>&lt;button ssv-button="type: outline"&gt;outline&lt;/button&gt;</code></pre>

			<h3>changing attribute: <strong>color</strong></h3>
			<button ssv-button="color: primary">primary</button>
			<pre><code class="language-html" ssv-syntax>&lt;button ssv-button="color: primary"&gt;primary&lt;/button&gt;</code></pre>

			<h3>changing attribute: <strong>disable-ripple</strong></h3>
			<button ssv-button="disable-ripple: true">disable-ripple</button>
			<pre><code class="language-html" ssv-syntax>&lt;button ssv-button="disable-ripple: true"&gt;disable-ripple&lt;/button&gt;</code></pre>

			<h3>changing attribute: <strong>disabled</strong></h3>
			<button ssv-button disabled>disabled</button>
			<pre><code class="language-html" ssv-syntax>&lt;button ssv-button disabled&gt;default&lt;/button&gt;</code></pre>
			
			<h3>changing attribute: <strong>size</strong></h3>
			<button ssv-button="size:small">small</button>
			<button ssv-button="size:medium">medium</button>
			<button ssv-button="size:large">large</button>
			<pre><code class="language-html" ssv-syntax>&lt;button ssv-button="size: small"&gt;small&lt;/button&gt;
&lt;button ssv-button="size: medium"&gt;medium&lt;/button&gt;
&lt;button ssv-button="size: large"&gt;large&lt;/button&gt;</code></pre>

		</section>
		<section repeat.for="buttonType of buttonTypes">
			<h3>type <strong>${buttonType}</strong></h3>
			<figure repeat.for="color of colors">
				<div class="row">
					<div>
						<button ssv-button="type.bind: buttonType; color.bind: color">${color ? color : 'default'}</button>
					</div>
					<div>
						<button ssv-button="type.bind: buttonType; color.bind: color; disable-ripple: true">disable-ripple</button>
					</div>
					<div>
						<button ssv-button="type.bind: buttonType; color.bind: color" disabled>disabled</button>
					</div>
				</div>
			</figure>
		</section>
	</div>
</template>