@import "variables";
$nav-width-size: $layout-navbar-width-size;

app-sidenavbar {
	display: flex;
	min-width: $nav-width-size;
	max-width: $nav-width-size;
	background: $secondary-color;

	nav {
		ul {
			flex: 1;
			flex-direction: column;

			a {
				flex: 1;
				height: 30px;
				padding: .7em 1em;
				color: $primary-text-color;
			}
		}
	}
}
