@import "variables";

$side-navbar-width-size: $layout-navbar-width-size;
$side-navbar-text-color: $primary-text-color;
$side-navbar-bg-color: $secondary-color;

app-sidenavbar {
	display: flex;
	min-width: $side-navbar-width-size;
	max-width: $side-navbar-width-size;
	background: $side-navbar-bg-color;

	nav {
		ul {
			flex: 1;
			flex-direction: column;

			a {
				flex: 1;
				height: 30px;
				padding: .7em 1em;
				color: $side-navbar-text-color;
			}
		}
	}
}
