<template>
	<section>
		<h2>Simple Usage</h2>
		<form>
			<ssv-input label="First name"
				value.bind="firstName"
				type="text"
				help="press submit to read value (see console)">
			</ssv-input>
			<button click.trigger="submit()">Submit</button>
		</form>
	</section>

	<section>
		<h2>Input variations</h2>
		<form>
			<div class="row">
				<ssv-input label="First Name"
					placeholder="e.g. Chiko">
				</ssv-input>
			</div>
			<div class="row">
				<ssv-input label="Disabled"
					value="I am not editable"
					disabled>
				</ssv-input>
			</div>
			<div class="row">
				<ssv-input ref="disabledInput"
					label="Bound Disabled"
					value="I am not editable and disable is bound"
					disabled.bind="isDisabled">
				</ssv-input>
				<button click.trigger="toggleDisable()">${isDisabled ? "enable" : "disable"}</button>
			</div>
			<div class="row">
				<ssv-input label="Password"
					type="password">
				</ssv-input>
			</div>
			<div class="row">
				<ssv-input label="Input success with help"
					value="Successful!"
					help="enter a valid email e.g. john@doe.com"
					modifier="success">
				</ssv-input>
			</div>
			<div class="row">
				<ssv-input label="Input with error"
					value="Failure!"
					modifier="error">
				</ssv-input>
			</div>
			<div class="row">
				<ssv-input label="Input with warning"
					value="Warning!"
					modifier="warn">
				</ssv-input>
			</div>
			<div class="row">
				<ssv-input 
					label="I generate my modifiers"
					value.bind="modifier"
					help="they can be seprated by space (see element generated css class)."
					modifier.bind="modifier">
				</ssv-input>
			</div>
		</form>

	</section>
</template>