@import "variables";
app-navbar {
	display: flex;
	flex-direction: column;
	background: #FAC05E;
	header {
		display: flex;
		flex-flow: row wrap;
		.logo {
			min-width: 240px;
			max-width: 240px;
			padding-left: 10px;
			flex: 1;
			align-self: center;
			font-weight: 600;
			font-size: 30px;
			.secondary-text {
				font-size: 30px;
				color: #fff;
			}
			
		}
		ul {
			flex: 2;
			display: flex;
			list-style: none;
			li {
				display: flex;
				&:hover {
					background-color: rgba(0, 0, 0, .1);
					transition: background-color .2s ease-in-out;
				}
			}
			.active {
				background-color: rgba(0, 0, 0, .1);
			}
			a {
				display: flex;
				align-items: center;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0 1em;
				color: #333;
			}
		}
	}
}