@import "variables";

$logo-padding-left: 30px;
$logo-font-size: 30px;

$nav-active-color: rgba(0, 0, 0, .1);
$nav-hover-color: $nav-active-color;

app-navbar {
	display: flex;
	flex-direction: column;
	background: #FAC05E;
	header {
		display: flex;
		flex-flow: row wrap;
		.logo {
			min-width: $layout-navbar-width-size - $logo-padding-left;
			max-width: $layout-navbar-width-size - $logo-padding-left;
			padding-left: $logo-padding-left;
			flex: 1;
			align-self: center;
			color: $secondary-text-color;
			font-weight: 600;
			font-size: $logo-font-size;
			cursor: default;
			user-select: none;
			.secondary-text {
				margin-left: -5px;
				letter-spacing: -1px;
				font-size: $logo-font-size;
				color: $primary-text-color;
			}
		}
		ul {
			flex: 2;
			display: flex;
			list-style: none;
			li {
				display: flex;
				&:hover {
					background-color: $nav-hover-color;
					transition: background-color .2s ease-in-out;
				}
				&.active {
					background-color: $nav-active-color;

					a {
						color: $primary-text-color;
					}
				}
			}

			a {
				display: flex;
				align-items: center;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0 1em;
				color: $secondary-text-color;
			}
		}
	}
}