<template>
	<header>
		<div class="logo">
			ui<span class="secondary-text"> dojo</span>
			<span class="loader" if.bind="router.isNavigating">
				<i class="fa fa-spinner fa-spin"></i>
			</span>
		</div>
		<ul class="nav">
			<li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
				<a href.bind="route.href">${route.title}</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="#">Features</a></li>
			<li class="nav-item"><a class="nav-link" href="#">colors</a></li>
		</ul>
		<ul class="nav right-content">
			<li class="nav-item active"><a class="nav-link" href="#">Light</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Dark</a></li>
		</ul>
	</header>
</template>