.component-snackbar {
	.snackbar-references {
		&-item {
			display: flex;
			align-items: center;
			margin-bottom: .5em;
			padding: 0.3em;
		}

		&-item--active {
			background: $primary-light-color;
		}

		.message {
		}

		button {
			margin-left: 1.5em;
		}
	}
}
