<template>
	<app-navbar router.bind="router"></app-navbar>
	<main>
		<app-sidenavbar router.bind="router"></app-sidenavbar>
		<article>
			<router-view></router-view>
		</article>
		<!--<aside class="content-side">Aside 2</aside>-->
	</main>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Copyright &copy; Sketch7 2017. All Rights Reserved.</p>
		</div>
		<div class="right-content">
			<p class="text-muted">Copyright &copy; Sketch7 2017. All Rights Reserved.</p>
		</div>
	</footer>
</template>