<template>
	<app-navbar router.bind="router"></app-navbar>
	<main>
		<app-sidenav></app-sidenav>
		<section>
			<router-view></router-view>
		</section>
		<!--<aside class="content-side">Aside 2</aside>-->
	</main>
	<footer>
		<div>
			<p class="text-muted">Hand-crafted &amp; Made with Love &reg;</p>
		</div>
		<div class="right-content">
			<p><span class="text-muted">Copyright &copy; </span><strong class="company-name">sketch7</strong> <span class="text-muted">2017. All Rights Reserved.</span></p>
		</div>
	</footer>
</template>