@import "variables";

.component-container {
	h2 {
		&.title {
			color: $secondary-color;
			background-color: rgba($primary-color, 0.3);
		}
	}
}

.component {
	.row {
		display: flex;

		h4 {
			flex: 0.5;
		}

		div {
			flex: 1;
		}
	}
}