<template>
	<div class="component component-checkbox">
		<section>
			<h2>basic</h2>
			<ssv-checkbox label="Tick me!"
				checked.bind="isTicked">
			</ssv-checkbox>
			<div>
				State <strong>${isTicked ? "Ticked" : "Unticked"}</strong>
			</div>
		</section>

		<section>
			<h2>disabled states</h2>
			<div>
				<ssv-checkbox label="Disabled Ticked"
					checked
					disabled>
				</ssv-checkbox>
				<ssv-checkbox label="Disabled Unticked"
					disabled>
				</ssv-checkbox>
			</div>
			<h2>disabled bind</h2>
			<div>
				<ssv-checkbox label="I can be disabled"
					disabled.bind="isDisabled">
				</ssv-checkbox>
				<ssv-checkbox label="Disable the other"
					checked.bind="isDisabled">
				</ssv-checkbox>
			</div>
			<h2>label position</h2>
			<div>
				<ssv-checkbox label="label before"
					label-position="before">
				</ssv-checkbox>
				<ssv-checkbox label="label before disabled"
					label-position="before"
					disabled>
				</ssv-checkbox>
				<ssv-checkbox label="label after"
					label-position="after">
				</ssv-checkbox>
			</div>
		</section>
	</div>
	<section>
		<h2>variations</h2>
		<section repeat.for="type of types">
			<h3>type <strong>${type}</strong></h3>
			<figure repeat.for="color of colors">
				<div class="row">
					<h4>${color}</h4>
					<div>
						<ssv-checkbox color.bind="color" label="Unticked">
						</ssv-checkbox>
					</div>
					<div>
						<ssv-checkbox color.bind="color" label="Ticked" checked>
						</ssv-checkbox>
					</div>
					<div>
						<ssv-checkbox color.bind="color" label="Unticked Disabled" disabled>
						</ssv-checkbox>
					</div>
					<div>
						<ssv-checkbox color.bind="color" label="Ticked Disabled" checked disabled>
						</ssv-checkbox>
					</div>
				</div>
			</figure>
		</section>
	</section>
</template>