// http://chir.ag/projects/name-that-color
// http://htmlcolorcodes.com/color-names/

$mine-shaft-dark: #222;
$mine-shaft: #333;
$concrete: #f3f3f3;

$haiti: #170A29;
$cyprus: #013242;
$darkred: darkred;
$white: #fff;

// blue
$boston-blue: #3a8fc8;
$picton-blue:#48b0f7;

// browns
$fuscous-gray: #544F48;
$dallas: #61481f;
$dune: #2F2D29;
$gallery: #f0f0f0;
$saffron-mango: #FAC05E;
$serenade: #fff5e5;

$apricot: #E9967A;
$froly: #F08080;
$chestnut-rose: #CD5C5C;
$gossip: #DAF7A6;
$amber: #FFC300;
$outrageous-orange: #FF5733;