// http://chir.ag/projects/name-that-color
// http://htmlcolorcodes.com/color-names/
$mine-shaft-dark: #222;
$mine-shaft: #333;
$concrete: #f3f3f3;
$haiti: #170a29;
$cyprus: #013242;
$darkred: #8b0000;
$white: #fff;

// blue
$boston-blue: #3a8fc8;
$picton-blue: #48b0f7;

// browns
$fuscous-gray: #544f48;
$dallas: #61481f;
$dune: #2f2d29;
$gallery: #f0f0f0;
$saffron-mango: #fac05e;
$serenade: #fff5e5;
$apricot: #e9967a;
$froly: #f08080;
$chestnut-rose: #cd5c5c;
$gossip: #daf7a6;
$amber: #ffc300;
$outrageous-orange: #ff5733;